<h1><%=@user.first_name + " " + @user.last_name%></h1>

<%= link_to "Add a succulent to my garden", new_plant_path %>

<%= link_to "test", user_ownerships_path(@user) %>

<%@user.plants.each do |plant|%>
  <p><%=link_to plant.name, plant_path(plant)%></p>
<%end%>
