<h1><%=@user.first_name + " " + @user.last_name%></h1>

<% if policy(User).edit? %>
  <%= link_to "Edit my profile", edit_user_path %>
<% end %>

<% if policy(Plant).new? %>
  <%= link_to "Add a succulent to my garden", new_plant_path %>
<%end%>

<%@user.plants.each do |plant|%>
  <p><%=link_to plant.name, plant_path(plant)%></p>
<%end%>
