<h1><%=@user.first_name + " " + @user.last_name%></h1>

<% if policy(@user).edit? %>
  <%= link_to "Edit my profile", edit_user_path %>
<% end %>

<% if policy(@user).create_plant? %>
  <%= link_to "Add a succulent to my garden", new_plant_path %>
<% end %>

<%@user.plants.each do |plant|%>
  <%plant.ownerships.each do |ownership|%>
    <% if ownership.current_owner == true%>
      <p><%=link_to plant.name, plant_path(plant)%></p>
    <%end%>
  <%end%>
  <% raise %>
<%end%>
