<h1><%=@plant.name%></h1>
<%= link_to "Edit", edit_plant_path(@plant) %>

<p>Current gardener: <%=link_to (@plant.ownerships(:created_at).last.user.first_name + ' ' + @plant.ownerships(:created_at).last.user.last_name), user_path(@plant.ownerships(:created_at).last.user)%></p>

<p>All ownerships:</p>

<% @plant.ownerships.each do |ownership|%>
  <p><%= (link_to (ownership.user.first_name), user_path(ownership.user)) + "," + ownership.created_at.strftime('%m/%d/%Y') %></p>
<% end %>


