<h1><%=@plant.name%></h1>

<p>Current gardener: <%=@plant.ownerships(:created_at).last.gardener.first_name + ' ' + @plant.ownerships(:created_at).last.gardener.last_name%></p>

<p>All ownerships:</p>

<% @plant.ownerships.each do |ownership|%>
  <p><%= ownership.gardener.first_name + "," + ownership.created_at.strftime('%m/%d/%Y') %></p>
<% end %>


